.about{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

header{
  color: white;
background-color: black;
}

h1{
  display: flex;
  margin-left: 5%;
}

.proyectos{

  color: white;
  justify-content: flex-start;
  margin-right: 10%;
  margin-top: 90px;
}

li{

  list-style: none;
  margin-right: 10%;
  margin-bottom: 3em;

}



.wrapper{
  clear: inherit;
  background-image: url("./IMAGENES/1.jpg");
  display: flex;
  background-size: contain;

}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-right: 5%
}

.item{

  width: 200px;
  height: 400px;
  background-color: green;
  border: 4px solid darkgreen;
  justify-content: space-between;
  margin: 20px;
  border-radius: 200px;
  background-size: cover;
}


.p1{
background-image: url("./IMAGENES/2.jpg");
}

.p2{
background-image: url("./IMAGENES/3.jpg");

}

.p3{
background-image: url("./IMAGENES/giphy.gif");
background-position: center;
width: 30px;
height: 30px;
}

.p3:hover{
  border-color: darkred;
  width: 300px;
  height: 300px;
  transition: 2s;
  animation-iteration-count: infinite;
}

.p4{
background-image: url("./IMAGENES/5.jpg");
}



footer{
  color: white;
  clear: both;
  height: 100px;
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  justify-content: flex-end;

  }

p{
 float: right;
 display: flex;
 margin-right: 5%;
 color: darkblue;
 justify-content: center;
 align-items: center;
 padding: 4px;
 width: 200px;
 height: 32px;
 background-color: white;
 text-align: center;
 border-radius: 10px;
 box-shadow: 0px 2px 4px rgba(255, 0, 0, 0.35)
}



@media (max-width: 500px) {

  html {
    background: red;
    }
  .item{
    flex: 0 1 100%;
    background-position: center;

  }
